@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  /* Default to Dark Mode styles immediately */
  body {
    @apply bg-anthracite text-white font-sans antialiased;
  }
  
  /* Manual override to ensure light mode works when the class is added */
  :root.light body {
    @apply bg-gray-100 text-gray-900;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-anthracite;
}
::-webkit-scrollbar-thumb {
  @apply bg-papaya rounded-full;
}
